:root {
    --text-color: #9fa3a7;
    --text-color-2: #333;
    --bg-color: #f05638;
    --bg-color-2: #8f76bc;
    --bg-color-3: #2c2c2c;
    --bg-color-4: #f7f8f9;
    --bg-btn: #ffc80a;
    --bg-twii: #38d5f4;
    --ancor-color: #27b9c2;
    --circle: #8166b0;
    --bg-text: #7bc424;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1,
h3,
h5,
h6 {
    font-family: Arvo, sans-serif;
    font-weight: 400;
    color: #333333;
}

h2,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: #9fa3a7;
}

p,
span,
a,
button {
    font-family: "Open Sans", sans-serif;
    color: inherit;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
}

/* Iphone Start */
.parent .container-box {
    position: relative;
    /* background-color: #ffc80a; */
}

.iPhone-6 {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    /* background-color: #8f76bc; */

}

.parent .container-box .text-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
    /* align-items: center; */
    /* background-color: #f05638; */
}

.parent .container-box .text-box h3 {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.8rem;
    font-weight: 400;

}

.parent .container-box .text-box p {
    font-size: 14px;
    line-height: 1.6rem;
    color: #9fa3a7;
    width: 70%;
}

.parent .container-box .box-info {
    display: flex;
    align-items: flex-end;
    width: 40%;
    /* background-color: #8f76bc; */

}

.parent .container-box .box-info .img-box {
    width: 65%;
    margin: auto;
    padding-top: 40px;
}

/* Iphone End */

/* Start chemical */
.parent .chemical {
    /* background-color: #27b9c2; */
    background-color: var(--bg-color-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1/3/2/5;
}

.parent .chemical h3 {
    font-size: 48px;
    text-align: center;
    margin: 15px;
    width: 65%;
}

.parent .chemical a {
    font-size: 15px;
    color: var(--ancor-color);
    text-decoration: underline;
    font-weight: 500;
}

/* End chemical */

/* Start Keybord */
.parent .keybord {
    /* background-color: blueviolet; */
    background-color: var(--bg-color);
    grid-area: 2/1/3/1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-block: 55px;

}

.parent .keybord h3 {
    color: #ffff;
    font-weight: 700;
    /* margin: 10px; */
    font-size: 22px;
    width: 50%;
    text-align: center;
    line-height: 32px;
    margin-bottom: 20px;


}

.parent .keybord>a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2.4px;
    color: var(--bg-btn);
}

/* End Keybord */

/* Start Hardly  */
.parent .Hardly {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
    grid-area: 2/2/3/4;
    padding-top: 68px;
    padding-right: 15%;
    padding-left: 5%;
}


.parent .Hardly .pc-left {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    overflow: hidden;

    /* justify-content: space-between; */
    /* background-color: rgb(104, 72, 185); */
}

.parent .Hardly .pc-left h3 {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.8rem;
    font-weight: 400;
}

.parent .Hardly .pc-img {
    display: flex;
}

.parent .Hardly .pc-img img {
    position: relative;
    left: -160%;
    width: 250%;
    max-width: none;
    margin-top: 20px;
}

.parent .pc-right {
    /* background-color: #b54e0e; */
    width: 40%;
}

.parent .pc-right p {
    margin-bottom: 30px;
    color: var(--text-color);
    line-height: 26px;
    font-size: 13px;
}

.parent .pc-right a {
    color: var(--ancor-color);
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 2px;
}

.iCloud {
    background-color: var(--bg-color-2);
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    grid-area: 2/4/4/5;
}

.iCloud .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.iCloud .circle {
    background-color: var(--circle);
    padding: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 373px;
    height: 373px;
}

.iCloud .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 2px 13px 1px 30px;
    border-radius: 60px;
    background-color: hsla(0, 0%, 100%, .08);
    background-size: 12px;
    line-height: 23px;
}

.iCloud .top i {
    color: #ffc80a;
    margin-right: 10px;
    font-size: 14px;

}

.iCloud .top h2,
h4 {
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
}

.iCloud .icloud-img {
    width: 80%;
    margin: auto;

}

.iCloud .icloud-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iCloud .icloud-info h3 {
    color: white;
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
    font-weight: 800;

}

.iCloud .icloud-info p {
    width: 80%;
    max-width: 290px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;

}

.iCloud .icloud-info button {
    color: #000;
    background-color: #ffc80a;
    margin-top: 30px;
    padding: 14px 28px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

}


/* Start Game  */
.parent .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.parent .image-game {
    position: relative;
    width: 40%;
    right: 20px;
}

.parent .game h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.parent .game a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2.4px;
    color: var(--ancor-color);
}

/* Labtop */

.labtop {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    /* background-image: url(/image/bg-ui-ux.png); */
    background-color: #93b6b7;
}

.labtop .left-contant {
    position: absolute;
    color: white;
    background-color: var(--bg-color);
    left: 20px;
    top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.labtop h1 {

    padding-block: 30px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.labtop .lap-image{
    position: relative;
    left: -7%;
    width: 90%;
}

.labtop .lap-image::after {
    content: "";
    position: absolute;
    background-image: url(/image/bg-ui-ux.png);
    background-position: center;
    background-size: cover;
    width: 90%;
    left: 95px;
    height: 110%;
    top: -20px;
}

.labtop .lap-image img {
    width: 90%;
    display: block;
    position: relative;
    z-index: 1;
}
/* End labtop */

/* twitter */
.parent .twitter {
    background-color: #38d5f4;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-items: center;

}

.parent .twitter .content-twi {
    margin-top: 30%;
}

.parent .twitter .circle {
    background-color: #35cfed;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    padding-right: 34px;
    padding-left: 34px;
    text-align: center;
}

.parent .twitter .fa-twitter {
    color: yellow;
    text-align: center;

}

.parent .twitter .circle h2 {
    text-align: center;
    max-width: 180px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    color: white;
    font-family: 'Arvo', sans-serif;
}

.parent .MuchBetter {
    /* background-color: yellow; */
    background-color: #ffffff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parent .title {
    background-color: #7bc424;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.parent .MuchBetter h3 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

/* Tv */

.parent .tv {
    background-color: #2c2c2c;
    display: flex;
    overflow: hidden;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
    color: #fff;
    grid-area: 4/3/4/5;
}

.tv .tv-img {
    position: relative;
    width: 30%;
    right:10%;

}

.tv .tv-text h3 {
    margin: auto;
    width: 70%;
    text-align: start;
    color: white;
    font-size: 25px;
    margin-right: 8px;
}









